<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417667239161-2q5mg5dstq0kec1174k18m46ra3c2dnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417667239161-2q5mg5dstq0kec1174k18m46ra3c2dnb</string>
	<key>API_KEY</key>
	<string>AIzaSyBGx7OUCshzzTZF2yC1jxOLnuxgS_V1EWc</string>
	<key>GCM_SENDER_ID</key>
	<string>417667239161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-f7aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>project-f7aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417667239161:ios:0a9a992dc52fc11255e628</string>
	<key>DATABASE_URL</key>
	<string>https://project-f7aa0-default-rtdb.firebaseio.com</string>
</dict>
</plist>